@media only screen and (max-width: 768px){
  .page-bg-mountains{
  height: 50vh;
	}
	.middle-container {
	width: 100%;
  margin: 0px auto;
  max-width: 650px;
	}
	button.accordion {
		display: block;
	  float: right;
	  margin-top: 35px;
    background: none;
    color: #fff;
    cursor: pointer;
    padding: 20px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
	}

	button.accordion.active {
  background-color: #bfab94;
	}
	div.panel {
	padding: 0px 18px;
  background-color: white;
  display: none;
	}
  div.panel.show {
  display: block;
  }
  .menu {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
  	margin: 0px;
  }
  .menu li{
	display: block;
  padding-top: 20px;
  font-size: 12px;
	}
	.menu li a{
  color: #bfab94;
	}
	.menu li a:hover{
  color: #bfab94;
	}
  .divide-content{
  	padding-top: 50px;
  	padding-bottom: 50px;
  }
  .slider{
    width: 70%;
  }
  .button-menu {
    text-align: center;
    margin: 50px 0px;
}
  .col-4{
	width: 50%;
  padding: 10px 10px;
	}
  .post-text {
    padding: 0px 10px 10px 10px;
}
  .bg-office {
    height: 35vh;
  }
    .video {
    padding-top: 60px;
  }
  .video .icon-video {
    width: 50px;
    height: 50px;
    padding-top: 8px;
    font-size: 36px;
  }
  .video h2, .video p{
    margin: 0px;
  }
  .iPhone {
    padding-top: 140px;
  }
  .iPhone-sidebar ul {
    padding: 0 0 0 25px;
}
  .iPhone-sidebar li {
    line-height: 2;
  }
  .col-5{
    width: 33%;
  }
  .dark-bg .col-4{
  	width: 25%;
  }
  .dark-bg .divide-content{
  	padding-top: 25px;
  	padding-bottom: 25px;
  }
	.pd-top{
   padding: 0px 10px;
  }
  footer{
    height: 100%;
  }
  .images{
  width: 49%;
	}
	.block-left {
	padding: 20px 0px;
	display: block;
  text-align: center;

	}
	.block-right {
		padding-top: 0px;
    padding-bottom: 20px;
    text-align: center;
    float: none;
  }  
}
@media only screen and (max-width: 480px) {
	.page-bg-mountains {
    background-size: 100%;
    height: 100vh;
    background-size:cover;
    background-position: center;
  }
	.middle-container{
    max-width: 420px;
  }
  .logo {
    padding-top: 20px;
  }  
  button.accordion {
		display: block;
	  float: right;
	  margin-top: 15px;
    background: none;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
	}

	button.accordion.active, button.accordion:hover {
    background-color: #ddd;
	}
	div.panel {
  	padding: 0 18px;
    background-color: white;
    display: none;
	}
  div.panel.show {
    display: block;
  }
  .menu li{
  	display: block;
    padding-top: 10px;
    font-size: 8px;
	}
	.menu li a{
    color: #bfab94;
	}
	.menu li a:hover{
    color: #bfab94;
	}
  .slider{
    width: 100%;
  }

  .divide-content{
  	padding-top: 30px;
  	padding-bottom: 30px;
  }
  .col-4{
  	width: 100%;
	} 
	.col-3{
		width: 100%;
  	padding: 10px 10px;
	} 
  .button-menu-inform{
    display: block;
    margin-top: 10px;
  }
  .col-6{
    width: 100%;
  }
  .video {
    padding-top: 30px;
  }
  .video .icon-video {
    width: 30px;
    height: 30px;
    padding-top: 8px;
    font-size: 15px;
  }
  .video h2, .video p{
    margin: 0px;
  }
  .bg-office {
    height: 180px;
  }
  .iPhone {
    display: block;
    margin: 0px auto;
    width: 50%;
    float: none;
    padding-top: 90px;
  }
  .iPhone-sidebar {
    padding: 0px;
    width: 100%;
  }
  .iPhone-sidebar ul {
    padding: 0px 30px;
  }
  .col-5 {
    width: 100%;
    padding: 20px;
    min-height: 30px;
  }
  .dark-bg .divide-content{
  	padding-top: 25px;
  	padding-bottom: 25px;
  }
  .pd-top{
    text-align: center;
  }
  .center{
  	text-align: center;
  }
  footer {
    height: 100%;
  }
  footer .col-4{
    padding: 0px;
  }
  .images {
    width: 50%;
    display: block;
    margin: 0px auto;
    padding-top: 10px;
  }
}