@font-face{
	font-family: 'Montserrat-light'; 
	src: url(../fonts/Montserrat-light.ttf); 
 }
body {
	line-height: 1.5;
	font-size: 16px;
	font-family: 'Montserrat-light', arial;
	color: #fff;
}
a{
	color:#fff;
	text-decoration: none;
	cursor: pointer;
}
a:hover, a:focus{
	color: #bfab94;
	cursor: pointer;
	border-bottom: 2px solid #bfab94;
}

{
	color: #bfab94;
	cursor: pointer;
}

img {
	max-width: 100%;
}
p{
	color: #8c8c8c;
	font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
	color: #555555;
}

h1{
	text-align: center;
	font-weight: bold;
}

h2{
	text-align: center;
	font-weight: 500;
}

h3 {
	font-size: 22px;
	text-align: center;
	font-weight: 400;
}

h4{
	color: #cab79f;
	margin-bottom: 0px;
}

.button {
	padding: 10px 20px;
	background: #998675;
	border:0px;
	color: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 0 3px 0px rgba(115,99,87,1);
}
.button:hover {
	background: #90755e;
	color: #fff;
}
.button-small{
	border-radius: 4px;
	padding: 5px 15px;
}
.button-big{
	border-radius: 8px;
	padding: 10px 25px;
}

.fake-content{
	background: #cccccc;
	height: 100px;
	display: block;
}
.icon-pencil, .icon-laers, .icon-settings, .icon-bag{
	text-align: center;
  display: block;
	color: #000;
	font-size: 70px;
}
.icon-link, .icon-search{
	color: #fff;
	margin-top: 100px;
	text-align: center;
  display: inline-block;
}
.icon-youtube{
	color: #fff;
	font-size: 50px;
	display: block;
	text-align: center;
}
.icon-users, .icon-bubble{
	text-align: center;
    display: block;
	color: #bfab94;
	font-size: 70px;
}
.page-bg-mountains{
	width: 100%;
  height: 100vh;
	background: url(../images/slide-1.jpg)no-repeat;
	background-size: cover;
	background-position: center;
}
.middle-container {
	margin: 0px auto;
	padding-left: 20px;
	padding-right: 20px;
	box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
}
.indent-content {
	padding: 0px 10px;
}

.logo{
	width: 30%;
	display: block;
	float: left;
	text-align: left;
	padding-top: 40px;
}
.logo img {
	max-width: 100%;
}

button.accordion{
	display: none;
}
.menu {
	width: 70%;
	float: right;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 20px;
	margin-top: 50px;
}
.menu a {
	padding: 10px 15px;
}
.menu li{
	display: inline-block;
}
.slider{
	width: 43%;
	padding-top: 150px;
	text-align: center;
    margin: 0px auto;
    color: #fff;
}
.slider h2, h1{
	color: #fff;
}
.relative {
	position: relative;
}
.text-center {
	text-align: center;
	padding-bottom: 100px;
}

.row {
	display: table;
	width: 100%;
}

.col-4{
	float: left;
	width: 25%;
	padding: 0px 15px;
	box-sizing: border-box;
	min-height: 30px;
}
.col-2{
	float: left;
	width: 50%;
	padding: 0 15px;
	box-sizing: border-box;
	min-height: 30px;
}
.col-3{
	float: left;
	width: 33.33%;
	padding: 0 15px;
	box-sizing: border-box;
	min-height: 30px;
}
.col-5{
	float: left;
	width: 20%;
	padding: 0 10px;
	box-sizing: border-box;
	min-height: 30px;
}
.col-6{
	float: left;
	width: 33.33%;
	padding: 0 10px;
	box-sizing: border-box;
	min-height: 30px;
}


.grey-big {
	width: 100%;
	height: 150px;
	background: #35261f;
}
.dark-bg {
	background: #555556;
}
.light-bg{
	background: #fbfaf8;
}
.indent-content-h2{
	padding-top: 100px;
}
.light-bg img{
	max-width: 100%;
	margin-top: 70px;
	vertical-align: bottom;
}
.gradient-bg {
	width: 100%;
	min-height: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
	background-image: -moz-linear-gradient( 0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
	background-image: -webkit-linear-gradient( 0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
	background-image: -ms-linear-gradient( 0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
}
.gradient-bg-left{
	text-align: left;
	padding-right: 150px;
}
.gradient-bg-left h3{
	margin: 0px;
	color: #fff;
	box-sizing: border-box;
	padding-right: 200px;
	text-align: left; 
}
.gradient-bg-left p{
	margin: 0px;
}
.gradient-bg-right{
	position: absolute;
	z-index: 1;
	top: 50%;
	right: 20px;
	margin-top: -22px;

}
.button-menu{
	text-align: center;
  margin: 50px;
}

.button-menu button:hover{
	background: #998675;
	color: #000; /*!!!!!!!!*/
}
.button-menu-inform{
  padding: 10px 20px;
  border: 1px solid #8c8c8c;
  color: #8c8c8c;
  border-radius: 3px;
}
.button-menu-inform:hover{
	border: 1px solid #998675;
	color: #fff;
	background: #998675;
}


.post {
	position: relative;
	margin-bottom: 30px;
	background-color: #fbfaf8;
}
.post:hover{
	background: #998675;
}
.post:hover p, .post:hover h4{
	color: #fff;
}
.post .icon-link, .post .icon-search {
	display: none;
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	margin: 0;
}
.post .icon-link {
	margin-left: -40px;
	font-size: 24px;
}
.post .icon-search {
	margin-left: 10px;
	font-size: 24px;
}
.post:hover .icon-link, .post:hover .icon-search {
	display: inline-block;
}

.post:hover .post-image:after {
  border-bottom: 10px solid #998675; /* Добавляем треугольник */
}
.post:hover img {
	opacity: .7;
}


.post p{
	font-size: 14px;
	padding-left: 25px;
}
.post h4{
	padding-left: 25px;
}

.post-image {
	position: relative;
	overflow: hidden;
	max-height: 200px;
}
.post-image img {
	width: 100%;
}

.post-image:after {
    content: ''; 
    position: absolute; /* Абсолютное позиционирование */
    left: 20px; 
    bottom: 0px; /* Положение треугольника */
    border: 10px solid transparent; /* Прозрачные границы */
    border-bottom: 10px solid #fff; /* Добавляем треугольник */
   }

.post-text {
	padding: 10px 20px 30px  30px;
}

.bg-office{
	height: 705px;
	background: url(../images/video-bg.jpg)no-repeat;
	background-size: cover;
	background-position: center;
	color: #fff;
	text-align: center;
}
.bg-office p, .bg-office h2, .bg-office h3, .bg-office h4 {
	color: #fff;
	text-align: center;
}

.video{
	padding-top: 300px;
}
.video .icon-video {
	display: inline-block;
	width: 80px;
	height: 80px;
	box-sizing: border-box;
	padding-top: 15px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	background: rgba(0,0,0,.4);
	font-size: 50px;
	text-align: center;
}

.iPhone {
	width: 40%;
	text-align: right;
	box-sizing: border-box;
	padding:50px 15px 0px 15px;
	float: left;
}
.iPhone img {
	vertical-align: bottom;
	display: block;
}
.iPhone-sidebar{
	width: 60%;
	box-sizing: border-box;
	padding:50px 15px 0px 15px;
	float: left;
}
.iPhone-sidebar p{
	text-align: left;
	padding-left: 0px;
}
.iPhone-sidebar ul{
	padding-top: 20px;  
	padding-left: 50px;
}
.iPhone-sidebar li{
	color: #8c8c8c;
	list-style-image: url(../images/icon.jpg);
    padding-left: 25px;
    line-height: 3;
}

.divide-content{
	padding-top: 100px;
	padding-bottom: 30px;
}
.col-5 span{
	font-size: 48px;
	display: block;
	text-align: center;
}
.col-5 p{
	margin: 0px;
	padding: 0px;
	color: #c7b299;
	text-align: center;
}
.icon-people, .icon-tea, .icon-chat, .icon-heart, .icon-food{
	display: block;
  text-align: center;
  font-size: 50px;
  color: #c7b299;
}
.dark-bg{
	background: url(../images/bg-col4.jpg);
}
.arrow{
	width: 50px;
  margin: 0px auto;
}
.icon-arrow-left, .icon-arrow-right{
  color: #8c8c8c;
  font-size: 20px;
}


footer {
	width: 100%;
	height: 550px;
	background: #191919;
	position: relative;
}
footer .col-4 h4{
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}
footer p{
	text-align: left;
	color: #555555;
	padding-left: 0px;
}
footer .col4-pd-top-block-date{
	font-size: 12px;
	color: #343434;
}
/*.col4-pd-top-block1:nth-child(1){
	color: blue;
}*/
.col4-pd-top-block2{
	border-bottom: 1px solid #8c8c8c;
    padding-bottom: 20px;
}
.col4-pd-top-block4{
	border-bottom: 1px solid #8c8c8c;
    padding-bottom: 20px;
}
.col4-pd-top3-block3, .col4-pd-to3p-block5{
	border-top: 1px solid #8c8c8c;
    padding-top: 20px;
}
.color-gold{
	color: #c7b299;
}
.info {
  padding-top: 50px;
}
.pd-top{
	padding-top: 20px;
}
.images img {
  float: left;
  width: 45%;
  margin-right: 5%;
  margin-bottom: 5%;
}
.color-blue{
	color: #00bff3;
}
.color-white{
	color: #fff;
}
.footer-copyright {
	width: 100%;
	background: #000;
	color: #555555;
	font-size: 13px;
}
.block-left {
	padding: 40px 0px;
	display: inline-block;
}
.block-left a{
	color: #555555;
}
.block-left li{
	display: inline-block;
	border-right: 1px solid #555555;
	padding:0px 10px;
}
.block-left li a:nth-child(2) {
	color: #c7b299;
}
.block-left li:last-child{
	border-right: 0px;
}
.block-right {
	float: right;
	padding: 40px 0px;
}
.block-right li{
	display: inline-block;
}
.footer-copyright-color-fff{
	color: #959595;
}
.block-right li:nth-child(3) {
	border-right: 1px solid 555555;
	padding-left: 10px;
}


div.inner {
	background: blue;
	height: 100px;
}

.outer .inner {
	background: red;
	height: 100px;
}